:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #57c8ac;

  --color-dark--0: #242a2e;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: #d6dee0;
}
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow-x: hidden;
}
.app {
  padding: 80px;
}
/* #root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 80%;
} */
.filter {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  margin-bottom: 60px;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.job {
  width: 380px;
  padding: 30px;
  border: 2px solid #eee;
  border-radius: 5%;
  box-shadow: 2px 2px 4px 3px rgba(230, 230, 230, 0.9);
  background-color: #fefefe;
  margin: 20px;
}
@media only screen and (max-width: 855px) {
  .container {
    justify-content: center;
    align-items: center;
  }
  .job {
    width: 70%;
    max-width: 450px;
  }
}

header {
  display: flex;
}
img {
  margin-right: 20px;
}
button {
  width: 100%;
  background-color: var(--color-brand--2);
  color: var(--color-dark--1);
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: -1px;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.spinnerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, var(--color-light--2));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
